body{
    background-image: url('GIF.gif');
    background-size: cover;
    background-position: center;
}

.navbar-brand,
.navbar-title {
  color: #1CA152 !important;
}

.bi-linkedin,
.bi-github {
  color: #1CA152 !important;
  padding: 8px 10px;
  border-radius: 8px;
  margin-right: 12px;
  margin-left: 0;
  font-size: 30px;
  display: inline-block;
}

#title-block-header .title,
.quarto-title-block .title {
  color: black !important;
  font-size: 25px;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.quarto-listing-category,
.quarto-listing-category a {
  color: #1CA152 !important;
  font-size: 20px !important;
  font-weight: bold;
}

.quarto-listing-category-title,
.listing-category-title {
  color: #1CA152 !important;
  font-size: 24px !important;
  font-weight: bold; 
}