body{
    background-color: black;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: helvetica, sans-serif;
}

#title-block-header .title,
.quarto-title-block .title {
  color: black !important;
  font-size: 25px !important;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.quarto-title-meta-heading{
  color: white !important;
}

.navbar-brand{
  color: #1CA152 !important;
}
